.card {
  width: auto;
  box-shadow: 1px 3px 3px var(--tertiary-color);
  padding: 30px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: hsl(181.71, 10%, 89%);
}

.card__text {
  text-align: center;
  margin-bottom: 30px;
  margin-top: 30px;
}

.card__text--hidden {
  display: none;
}

.card__button {
  background-color: var(--primary-color);
  border: none;
  color: var(--neutral-color);
  padding: 10px 20px;
  border: 2px solid var(--primary-color);
  border-radius: 20px;
  text-align: center;
  box-shadow: 0px 0px 0px var(--tertiary-color);
  transform: scale(1);
  transition: 0.2s ease-in-out;
}

.card__button:hover {
  box-shadow: 2px 5px 5px var(--tertiary-color);
}

.card__button-hide {
  background-color: var(--neutral-color);
  color: #16123f;
  padding: 10px 20px;
  border: 2px solid var(--primary-color);
  border-radius: 20px;
  text-align: center;
}

.card__tags {
  align-self: flex-start;
  margin-top: 30px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  list-style: none;
}

.card__tagbox {
  border: 1px solid var(--primary-color);
  padding: 2px 5px;
  background-color: var(--neutral-color);
  color: var(--primary-color);
  font-size: 10px;
}

.card__bookmark {
  position: absolute;
  top: -15px;
  right: 10px;
  font-size: 30px;
  color: var(--tertiary-color);
  border: none;
  background-color: transparent;
}

.card__bookmark:hover {
  color: var(--primary-color);
  cursor: pointer;
}

.card__bookmark--active {
  position: absolute;
  top: -15px;
  right: 10px;
  font-size: 30px;
  color: var(--primary-color);
}
