.menu {
  display: flex;
  justify-content: space-around;
  background-color: var(--primary-color);
  padding: 10px 10px 15px 10px;
  list-style: none;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}

.menu__link {
  text-decoration: none;
  color: var(--neutral-color);
  font-size: 26px;
  padding: 5px 15px;
}

.menu__link:hover {
  color: var(--secondary-color);
}

.menu__link--active {
  color: white;
  border-bottom: 2px solid var(--neutral-color);
}
